*
body {
    background-color: beige;
}

.contact-container{
    text-align: left;
    font-size: 20px;
    vertical-align: bottom;
    line-height: 30px;
    margin-top: 350px;
    margin-left: 45px;
        
}


.topleft {
    position: absolute;
    top: 8px;
    left: 18px;
    bottom: 50px
}

img {
    height: 300px;
    border-radius: 150px;
    opacity: 0.9;
    border: 3px solid rgb(255, 255, 255)
}