*
body {
    background-color: beige;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Bakgrunds färg till topp navigationsbare
.topnav {
    background-color: #333;
    overflow: hidden;
}
/*Stylar länkarna till toppnavbaren*/
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 24px;
}

/* byta färg på hovermouse effekt över län
.topnav a:hover {
    background-color: #49504d;
    color: black;
}

/* Visar vilken flik som är aktiv*/
.topnav a.active {
    background-color: #49504d;
    color: white;
}

.topnav .icon {
    display: none;
}



.contact-container{
    text-align: left;
    font-size: 20px;
    vertical-align: bottom;
    line-height: 30px;
    margin-top: 350px;
    margin-left: 45px;
        
}


.topleft {
    position: absolute;
    top: 8px;
    left: 18px;
    bottom: 50px
}

img {
    height: 300px;
    border-radius: 135px;
    opacity: 0.9;
    border: 3px solid #333
}
