
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

/* animation för att byta bakgrund på framsidan */
.background-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(backgroundwebpage.jpg);
  top: 0;
  left: 0;
  background-size: cover;
  animation: changeBackground 15s linear infinite;
  animation-delay: 10s;
}


@keyframes changeBackground {
  20%
  {
  background-image: url(backgroundwebpage.jpg);
  }

  30%
  {
  background-image: url(image2.jpg);
  }

  45%
  {
  background-image: url(image3.jpg);
  }

  60%
  {
  background-image: url(image4.jpg);
  }

  100%
  {
  background-image: url(image5.jpg);
  }

}

/*Bakgrunds färg till topp navigationsbaren*/
.topnav {
    background-color: #333;
    overflow: hidden;
}
/*Stylar länkarna till toppnavbaren*/
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 24px;
}

/* byta färg på hovermouse effekt över länkarna*/
.topnav a:hover {
    background-color: #49504d;
    color: black;
}

/* Visar vilken flik som är aktiv*/
.topnav a.active {
    background-color: #49504d;
    color: white;
}

.topnav .icon {
    display: none;
}


/* Sätter  om skärmen är mindre än 700pixels bred, så gömmer vi alla länkar förutom en.*/
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
/* Responsiv klassen till navbaren används med javascript så att den ser bra ut på mindre skärmar*/
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
